/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these imports here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/**
 * END --- SETUP TAILWINDCSS EDIT
 */
nav {
  height: 80px;
  padding: 2em 0em;
}
nav ul{
  flex-direction: row;
  display: flex;
  list-style-type: none;
  float: right;
}
li {
  padding: 0 2em;
  color: rgb(129, 7, 228);

}
li:hover{
  color: crimson;
}
main{
  padding: 20px;
}